@model TennisCourtBookingViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="modal-header" style="background-color:lightblue">
        <h5 class="modal-title">Login</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        @{
            if (ViewBag.Message != null)
            {
                <p class="bg-danger">@ViewBag.Message</p>
            }
        }
        <form asp-action="Login" asp-controller="Home" method="post" id="UserLogin">
            <div>
                <label class="form-label" asp-for="TennisCourtBookingUserModel.Email">User Name</label>
                <input type="email" asp-for="TennisCourtBookingUserModel.Email" class="form-control" />
            </div>

            <div>
                <label class="form-label" asp-for="TennisCourtBookingUserModel.Password">User Password</label>
                <input type="password" asp-for="TennisCourtBookingUserModel.Password" class="form-control" />
            </div>
        </form>
        <br />

        <button type="button" class="btn btn-primary" id="logIn" onclick="TennisCourtBookingApp.Common.LoginPost()">Login</button>
    </div>
    <div style="margin:10px;text-decoration:underline">
        <a style=" cursor: pointer; color: #0066cc;"   onclick="TennisCourtBookingApp.Common.SignUpGet()">If you have not Registered ! Click Here</a>
         @*<button type="button" class=" btn btn-outline-primary" onclick="SignUpGet()">SignUp</button>*@
    </div>
    <div class="modal-footer" style="background-color:lightblue">

       
       
        <button asp-action="Home" asp-controller="Index" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    <div>
        <!--<p>If You Don't Have Any Account ! Click Here</p>-->
        @*<button onclick="SignUp()"   <script>$("#myModal").modal('hide')</script> class="btn btn-primary">SignUp</button>*@<!--ss-->
        @*<a onclick="SignUp()" data-bs-dismiss="modal">SignUp</a>*@
        @*<button onclick="SignUp(); $('#myModal').modal('hide');" class="btn btn-primary">SignUp</button>*@
        <!--<button  onclick="SignUpGet()">SignUp</button>-->
    </div>

@*<script src="~/js/themes/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Show the modal when the button is clicked
        $("#myModal").modal("show");


        $("#logIn").click(function () {
            debugger;
            // Submit the form when the login button is clicked
            $("form").submit();
        });
    });

</script>*@

