
@model TennisCourtBookingViewModel
@{
    Layout = "_AdminLayout";
}


<br />
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">

        <h2>User Booking Details</h2>
        <br />
        <label>Status</label>
        <select id="Status" name="status" style="background-color:yellowgreen;" onchange="ChangeStatus(this)">
            <option value="1">All</option>
            <option  value="2">Pending</option>
            <option value="3">Reject</option>
            <option  value="4">Confirm</option>
        </select>
        <table class="table " id="AllUserBookings">

            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Tennis Court Name</th>
                    <th>Tennis Court Address</th>
                    <th>Booking Date</th>
                    <th>Booking Time</th>
                    <th>Status</th>
                    <th>Action</th>


                </tr>
            </thead>


        </table>
    </div>
</div>


<script src="~/js/Themes/jquery.min.js"></script>
@section Scripts{
    @*<script src="~/js/Custom/TennisCourtBookingApp.js"></script>

    <script src="~/js/Custom/TennisCourtBookingApp.Common.js"></script>*@
    <script src="~/js/Custom/TennisCourtBookingApp.TennisCourt.js"></script>
    @*<script src="~/js/Custom/TennisCourtBookingApp.User.js"></script>
        <script src="~/js/Custom/TennisCourtBookingApp.Booking.js"></script>*@
    <script>
        $(document).ready(function () {
            debugger;
            //int status = TennisCourtBookingApp.Common.Utility.BookingStatus.All;
            TennisCourtBookingApp.TennisCourt.GetBookingListUser(1);
        });
    </script>

}
@*<script>
        $(document).ready(function () {
            $("#AllUserBookings").DataTable({
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "pageLength": 5 // Display 5 entries per page initially

            });
            $('#AllUserBookings_filter ').css({
                'float': 'left',
                'margin-left': '10px',
                'padding-right': '20px'
            });

            $('#AllUserBookings_length').css({
                'float': 'right'
            });
        });
    </script>*@
<div class="modal" id="modalShow" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

