@model TennisCourtBookingViewModel

@{
    Layout = "_AdminLayout";
}


<div class="modal" id="modalShow" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <h3><a class="nav-link text-dark btn btn-outline-primary" style="font-weight:bold;font-size:large;float:right;" onclick="TennisCourtBookingApp.TennisCourt.AddCourt()">Add Tennis Court</a></h3>
        <h2>Tennis Court Details</h2>
        <br />
        <table class="table table-responsive border-1 " id="CourtList">
            <thead style="font-size:larger">
                <tr>
                    <th>Tennis Court Name</th>
                    <th>Tennis Court Address</th>
                    <th>Tennis Court Capacity</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>




@section Scripts{

    <script src="~/js/Custom/TennisCourtBookingApp.TennisCourt.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            TennisCourtBookingApp.TennisCourt.GetCourtList();

        });
    </script>
}





